/* Footer */
@import "../../styles/variables.css";
.footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: var(--padding);
    font-size: var(--font-size-small);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  